
*{
  font-family: 微軟正黑體;
}

/*----------header---------*/

#header{
  position: relative;

  .header_top_area{
    display: flex;
    height: 90%;
    .header_left{
      width: 30%;
      .logo_area{
        position: relative;
        height: 70%;
        &::before{
          content: '';
          background-color: $color-mask-logo;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0.4;
          z-index: 1;
        }
        .logo{
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          background-image: url('/img/logo_backimg.jpg');
          background-size: cover;
          background-position: center bottom;
          .mark{
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translateX(-50%) translateY(-30%);
            background-color: transparent;
            z-index: 2;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            .mark_text{
              color: $color-white;
              font-weight: 700;
            }
            .mark_middle{
              font-size: 20px;
            }
            .mark_bottom{
              font-size: 12px;
            }
            img{
              width: 100%;
            }
          }
          .time{
            position: absolute;
            right: -50px;
            bottom: 10px;
            z-index: 2;
            img{
              width: 90%;
            }
          }
        }
      }
      .header_contact{
        font-size: $header-contact-font-size;
        display: flex;
        height: 30%;
        .header_addr{
          position: relative;
          width: 50%;
          border-right: solid 1px $color-grey-font-color;
          display: flex;
          justify-content: center;
          align-items: center;
          .shop_list{
            height: 100%;
            .shop{
              height: calc(100% / 3);
              .shop_contact,img{
                display: inline-block;
                vertical-align: middle;
              }
              img{
                width: 30px;
                height: 30px;
              }
              .shop_contact{
                line-height: 5px;
                p{
                  margin: 12px 0px;
                }
              }   
            }
          }    
        }
        .community{
          width: 50%;
          color: $color-text-grey;
          .link{
            text-align: center;
            p{
              margin-bottom: 0;
            }
          }
          .facebook,.instagram{
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $color-text-grey;
            cursor: pointer;
            img{
              width: 30px;
              height: 30px;
              transition: 0.5s ease;
            }
            p{
              transition: 0.5s ease;
            }
            &:hover{
              img{
                transform: scale(1.5) translateY(15%);
              }
              p{
                opacity: 0;
              }
            }
          }
          .facebook{
            border-bottom: solid 1px $color-grey-font-color;
          }
          .instagram{

          }
        }
      }
    }
    
    .header_right{
      position: relative;
      overflow: hidden;
      width: 70%;
      transition-delay: 0.3s;
      .sw_mask{
        position: absolute;
        width: 70px;
        height: 100%;
        z-index: 9;
      }
      .mask_left{
        border-right: dashed 2px $color-white;
        left: 0;
      }
      .mask_right{
        border-left: dashed 2px $color-white;
        right: 0;
      }
      .banner_arrow{
        position: absolute;
        width: 70px;
        height: 50px;
        z-index: 99999;
      }
      .top{
        top: 25%;
        right: 0;
      }
      .bottom{
        top: 50%;
        right: 0;
        transform: rotate(180deg)
      }
      .ban_page1{
        background-image: url('/img/airport.jpg');
      }
      .ban_page2{
        background-image: url('/img/footer_left.jpg');
      }
      .banner{
        position: relative;
        height: 100%;
        background-size: cover;
        background-position: center;
        &::before{
          content: '';
          background-color: $color-mask-banner;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0.4;
        }
        .banner_word{
          transition: 0.5s;
          position: absolute;
          top: 50%;
          left: 25%;
          transform: translateY(-50%) translateX(-25%);
          color: $color-white;
          transition-delay: 0.3s;
          h1{
            transition: 0.5s;
            font-size: 60px;
            text-shadow: 5px 5px 6px  $color-grey;
          }
          p{
            transition: 0.5s;
            font-size: 24px;
          }
          .eng{
            font-size: 18px;
          }
        }
      }
    }
  }
  
  .navbar{
    width: 100%;
    height: 10%;
    z-index: 2;
    background-color: $color-grey;
    font-weight: 700;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
      margin: 0;
      padding: 0;
      li{
        font-size: 15px;
        display: inline-block;
        list-style: none;
        &::after{
          content:"";
          vertical-align: middle;
          width: 1px;
          height: 20px;
          display: inline-block;
          background-color: $color-white;
        }
        a{
          text-decoration: none;
          color: $color-white;
          margin: 0px 30px;
          padding-bottom: 20px;
          border-bottom: solid 3px transparent;
          transition: 0.5s ease;
          &:hover{
            border-bottom: solid 3px $color-white;
          } 
        }
      }
      li.nav_final{
        &::after{
          content:"";
          background-color: transparent;
        }
      }
    }
  }
}






/*----------footer---------*/


#footer{
  display: flex;
  justify-content: center;
  align-items: stretch;
  .footer_logo{
    background-image: url('/img/footer_left.jpg');
    background-position: center;
    background-size: cover;
    width: 37.5%;
    padding: 30px 0;
  }
  .footer_contact{
    font-size: $header-contact-font-size;
    width: 25%;
    display: flex;
    .footer_addr{
      position: relative;
      width: 70%;
      border-right: solid 1px $color-grey-font-color;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 0; 
      .shop_list{
        height: 100%;
        .shop{
          height: calc(100% / 3);
          .shop_contact,img{
            display: inline-block;
            vertical-align: middle;
          }
          img{
            width: 30px;
            height: 30px;
          }
          .shop_contact{
            line-height: 5px;
            p{
              margin: 12px 0px;
            }
          }   
        }
      } 
    }
    .community{
      width: 30%;
      .link{
        text-align: center;
      }
      .facebook,.instagram{
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $color-text-grey;
        cursor: pointer;
        img{
          width: 30px;
          height: 30px;
          transition: 0.5s ease;
          }
        p{
          transition: 0.5s ease;
        }
        &:hover{
          img{
            transform: scale(1.5) translateY(15%);
          }
          p{
            opacity: 0;
          }
        }
      }
      .facebook{
        border-bottom: solid 1px $color-grey-font-color;
        img{
          width: 30px;
          height: 30px;
        }
      }
      .instagram{
        img{
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .footer_copy{
    background-image: url('/img/footer_right.jpg');
    background-position: center;
    background-size: cover;
    width: 37.5%;
    padding: 30px 0;
  }
}


/*----------choose---------*/

#choose{
  .container{
    .choose_title{
      margin: 80px 0;
      p{
        text-align: center;
        font-size: 38px;
        color: $color-grey;
        font-weight: 700;
      }
    } 
    .row{
      .co_post{
        .choose_post{
          .img_div{
            position: relative;
            padding-bottom: 100%;
            img{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
              max-width: 100%;
              max-height: 100%;
              border-radius: 12px;
            }
          }
          .post_text{
            h2{
              color: $color-grey;
              font-weight: 700;
            }
            p{

            }
            .goBuy{

            }
          }
        }
      }
    }
  }
}