
li {list-style-type: none;}
img {width: 100%;}
button{outline: none;}

.dash {
  border-bottom: solid 1px $color-grey;
  width: 93%;
  margin-top: 35px;
}

.producttitle {
  text-align: right;
  margin-left: 100px;
}





  /*-----------------------tittletop------------------------------*/

  #header{
    font-size: $title-top-font-size;
    li, .litext, .liicon {
      display: inline-block;
    }
    #logo {
      margin-left: 20px;
      padding-top: 35px;
      img{
        width: 50%;
      }
    }

    #titletop {
      border-bottom: solid 1px $color-grey;
      padding-bottom: 20px;
    }

    #list {
      padding: 0;
      padding-top: 80px !important;
      text-align: right;
      a{
        text-decoration: none;
      }
      li {
        cursor: pointer;
        text-align: left;
        margin-right: 5px;
        transition: 0.5s;
        &:hover {
          border-bottom: solid 3px $color-grey;
        }
      }
    }
    i{
      color: $color-grey;
    }
    .litext{
      margin-right: 12px;
      color: $color-grey-font-color;
    }
  }



  /*-----------------------tittlebottom------------------------------*/

#titlebottom{
  a{
    color: $color-grey-font-color;
    text-decoration: none;
  }
}

  .col-md-5 {
    padding: 30px;
  }

  #titlebottom li {
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      border-bottom: solid 3px $color-grey-font-color;
    }
  }

  .col-md-7 {
    font-size: $title-bottom-font-size;
    padding-top: 25px;
  }

  .search {
    padding: 2px 5px;
    border: solid 1px $color-grey;
    border-radius: 8px;
    input {
      display: inline-block;
    }
    i{
      display: inline-block;
      cursor: pointer;
      font-size: 20px;
    }
  }
  input::-webkit-input-placeholder {
    color: $color-grey;
  }
  .col-md-5 input {
    font-size: $title-bottom-input-font-size;
    outline: none;
    width: 93%;
    border: none;
  }

  /*-----------------------banner------------------------------*/
  .right, .left, .bannertext{
    display: inline-block;
  }
  .right, .left {
    border-top: solid 1px $color-white;
    margin: 15px;
    height: 160px;
    width: 80px;
  }

  #banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $color-white;
    text-align: center;
    padding: 150px 80px;
    background: linear-gradient(135deg, $color-banner-start, $color-banner-end);
    button {
      background-color: transparent;
      margin-top: 80px;
      border: solid 1px $color-white;
      border-radius: 8px;
      padding: 5px 15px;
    }
  }

  /*-----------------------count------------------------------*/

  #count {
    padding-top: 50px;
    font-size: $title-bottom-input-font-size;
    text-align: center;
  }

  .name, .number {
    display: inline-block;
  }

  .countname {
    border-right: solid 1px $color-grey-font-color;
  }

  .name {
    margin-right: 10px;
  }

  .number p {
    font-size: $font-size-number;
  }

  span {
    font-size: $font-size-span;
  }

  .final {
    border: none;
  }

  /*------------------------product------------------------*/

  #pfirst{
    position: relative;
    .progress {
      margin-top: 100px;
      background-color: $color-grey;
      width: 100%;
      height: 15px;
      .progressin {
        width: 40%;
        height: 100%;
        background-color: $color-grey-font-color;
      }
    }
    button {
      position: absolute;
      bottom: 35px;
      right: 20px;
      border-radius: 8px;
      padding: 6px 45px;
      background-color: $color-grey;
    }
    .hot{
      position: absolute;
      right: 0;
      top: 0;
      overflow: hidden;
      .hottop{
        z-index: 999;
        text-align: center;
        color: $color-white;
        font-weight: 900;
        padding-top: 10px;
        position: relative;
        border-radius: 8px 8px 0px 0px;
        width: 50px;
        height: 45px;
        background-color: $color-grey-font-color;
      }
      .hotbottom{
        position: relative;
        width: 50px;
        height: 30px;
        background-color:  transparent;
        .hotone,.hottwo{
          top: -26px;
          position: absolute;
          display: inline-block;
          width: 40px;
          height: 40px;
          background-color: $color-grey-font-color;
        }
        .hotone{
          right: -20px;
          transform: rotate(35deg);
        }
        .hottwo{
          left: -20px;
          transform: rotate(55deg);
        }
      }
    }
  }

#product{
  span{
    margin-left: 10px;
    font-size: $font-size-footer-title;
  }
}
  .product {
    padding: 50px 0px;

  }

  .row{
    padding: 10px;
  }
  .buttontext, #pfirst button {
    display: inline-block;
  }

  .productbox {
    border-radius: 8px;
    border: solid 1px $color-grey;
    padding-bottom: 10px;
    padding-top: 15px;
  }
.titletext{
  text-align: center;
  margin-top: 50px;
  h1{
    font-size: $font-size-number;
    font-weight: 900;
  }
  h4{
    color: $font-color-focus;
    font-weight: 700;
  }
}
  .col-md-4.productbox {
    margin-top: 50px;
    padding: 5px 5px 40px 5px;
    position: relative;
    visibility: hidden;
    background-color: $color-grey;
    &:hover {
      visibility: visible;
    }
  }

  .boxin {
    visibility: visible;
    border: solid 1px $color-grey;
    padding: 5px;
    border-radius: 8px;
    background-color: #fff;
  }

  .buttontop,.buttonbottom {
    position: absolute;
    bottom: 5px;
  }
  .buttontop{
    left: 10px;
  }
  .buttonbottom{
    right: 10px;
  }

  .productbox button {
    background-color: transparent;
    border: none;
    padding: 7px;
  }

  .inp {
    margin-top: 200px;
  }

  /*------------------------instrument&books------------------------*/


  #books,#instrument {
    cursor: pointer;
  }

  .books-img,.in-img{
    position: relative;
    padding-top: 100%;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      max-width: 100%;
      max-height: 100%;
    }
    &:hover {
      opacity: 0.7;
    }
  }

  .piccon{
    text-align: center;
  }
  .pic {
    width: 20%;
    margin: 20px 0px;
    &:hover {
      i{
        opacity: 1;
      }
    }
    i{
      text-align: center;
      cursor: pointer;
      transition: 0.5s;
      opacity: 0;
      color: $color-white;
      padding: 10px;
      background-color: $color-grey-font-color;
    }
  }



  /*------------------------safe------------------------*/

  #safe {
    font-size: $font-size-span;
    .dash {
      width: 83%;
    }
    .producttitle {
      margin-left: 230px;
    }
  }

  .finalask{
    p{
      color: $color-grey;
    }
  }
  .end {
    padding: 20px 0px;
  }

  #safe .col-md-12 {
    padding: 30px 0px;
  }

  /*------------------------proxy------------------------*/

  #proxy .proxyin {
    padding: 50px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*------------------------footer------------------------*/

  

  .fblink * {
    display: inline-block;
  }

.fa.fa-arrows-alt{
  width: 100%;
}

  #footer {
    background-color: $color-grey-font-color;
    padding: 50px;
    color: $color-white;
    .col-md-3 p{
      margin-bottom: 25px;
      font-size: $font-size-footer-title;
    }
    li{
      margin-bottom: 10px;
      a{
        text-decoration: none;
        color: $color-white;
      }
      a:hover{
        opacity: 0.5;
      }
    }
    .fa:hover{
      opacity: 0.7;
    }
    .col-md-6{
      position: relative;
      img {
        width: 50%;
      }
      .fa-2x{
        position: absolute;
        margin-left: 220px;
      }
      .fa-envelope-o{
        top: 25%;
        right: 15%;
      }
      .fa-facebook{
        top: 25%;
        right: 5%;
      }
    }
    i{
      margin-left: 10px;
      cursor: pointer;
      color: $color-grey-font-color;
      text-align: center;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      padding-top: 5px;
      background-color: $color-grey;
    }
  }

  .footerc {
    border-bottom: solid 1px $color-white;
  }




@media screen and (max-width: 1499px){

#product{
  .col-md-6{
    width: 100%;
  }
  .col-md-6#productboxout{
    width: 100%;
  }
}
}


@media screen and (max-width: 1399px){

  #safe{
    .dash {
      width: 89%;
    }
    .producttitle {
      margin-left: 150px;
    }
  }
}


@media screen and (max-width: 1200px){
  #header{
    #titletop{
      .col-md-6{
        font-size: 12px;
        width: 50%;
      }
    }
  }

  #footer{
    .fa-envelope-o{
      margin-left: 100px;
    }
    i{
      margin-left: 5px;
    }
  }

  #count{
    .col-md-3{
      padding: 10px 5px;
    }
  }
}


@media screen and (max-width: 991px){

  .countname , .final{
    border: none;
    width: 50%;
    float: left;
  }
  .pic{
    float: left;
    width: 50%;
  }

  #header{
    #titletop{
      .col-md-6{
        width: 100%;
        text-align: center;
        ul{
          padding: 0;
        }
      }
    }
    #titlebottom{
      .col-md-7{
        text-align: center;
        ul{
          padding: 0;
        }
      }
    }
  }

  #banner{
    min-width: 700px;
  }

  #count{
    .countname{
      border: none;
    }
  }

  #proxy{
    .col-md-3{
      float: left;
      margin-bottom: 30px !important;
      width: 50%;
    }
  }

  #footer{
    .linkout{
      border-top: solid 1px $color-white;
      margin-top: 50px;
      padding: 30px 0px;
      .link{
        display: inline-block;
        width: 49.7%;
      }
    }


    #footer .col-md-6 .fa-envelope-o{
      top: 35%;
      right: 13%;
    }
    #footer .col-md-6 .fa-facebook{
      top: 35%;
      right: 5%;
    }
  }
}


@media screen and (max-width: 768px){

html {
  min-width: 640px;
}

  .pic{
    float: left;
    width: 50%;
  }
  #footer{
    padding: 20px;
  }
  #footer .col-md-6 .fa-envelope-o{
    top: 35%;
    right: 18%;
  }
  #footer .col-md-6 .fa-facebook{
    top: 35%;
    right: 10%;
  }
  #logo{
    text-align: center;
  }
  #titlebottom{
    text-align: center;
    .col-md-7{
      ul{
        padding: 0;
      }
    }
  }
  #count{
    .countname{
      border: none;
    }
  }

  #proxy{
    .col-md-3{
      margin-bottom: 30px !important;
      margin: 0 auto;
      width: 50%;
    }
  }
}






