
*{
  font-family: 微軟正黑體;
}

.section_title{
  margin-top   : 80px;
  margin-bottom: 50px;
  z-index      : 2;
  p{
    text-align : center;
    font-size  : 38px;
    color      : $color-grey;
    font-weight: 700;
  }
}
.sw_mask{
  position: absolute;
  width   : 60px;
  height  : 100%;
  z-index : 2;
  .product_arrow{
    position : absolute;
    width    : 35px;
    top      : 50%;
    transform: translateY(-50%);
  }
  .left{
    left: 10px;
  }
  .right{
    right: 10px;
  }
}
.mask_left{
  left        : 0;
  border-right: dashed 1px $color-grey-mask;
}
.mask_right{
  right      : 0;
  border-left: dashed 1px $color-grey-mask;
} 

/*----------header---------*/

#header{
  position: relative;

  .header_top_area{
    display: flex;
    height : 90%;
    .header_left{
      width: 30%;
      .logo_area{
        position: relative;
        height  : 70%;
        &::before{
          content         : '';
          position        : absolute;
          top             : 0;
          right           : 0;
          bottom          : 0;
          left            : 0;
          opacity         : 0.4;
          z-index         : 1;
          background-color: $color-mask-logo;
        }
        .logo{
          position           : absolute;
          top                : 0;
          right              : 0;
          left               : 0;
          bottom             : 0;
          background-image   : url('/img/logo_backimg.jpg');
          background-size    : cover;
          background-position: center bottom;
          .mark{
            position        : absolute;
            top             : 30%;
            left            : 50%;
            transform       : translateX(-50%) translateY(-30%);
            background-color: transparent;
            z-index         : 2;
            text-align      : center;
            text-decoration : none;
            cursor          : pointer;
            .mark_text{
              color      : $color-white;
              font-weight: 700;
            }
            .mark_middle{
              font-size: 20px;
            }
            .mark_bottom{
              font-size: 12px;
            }
            img{
              width: 100%;
            }
          }
          .mark_time{
            position: absolute;
            right   : -50px;
            bottom  : 10px;
            z-index : 2;
            img{
              width: 90%;
            }
          }
        }
      }
      .header_contact{
        font-size: $header-contact-font-size;
        display  : flex;
        height   : 30%;
        .header_addr{
          position       : relative;
          width          : 50%;
          border-right   : solid 1px $color-grey-font-color;
          display        : flex;
          justify-content: center;
          align-items    : center;
          .shop_list{
            height: 100%;
            .shop{
              height         : calc(100% / 3);
              display        : flex;
              justify-content: flex-start;
              align-items    : center;
              .shop_contact,img{
                display       : inline-block;
                vertical-align: middle;
              }
              img{
                width : 30px;
                height: 30px;
              }
              .shop_contact{
                line-height: 20px;
                p{
                  margin: 12px 0px;
                }
              }   
            }
          }    
        }
        .community{
          width: 50%;
          color: $color-text-grey;
          .link{
            text-align: center;
            p{
              margin-bottom: 0;
            }
          }
          .facebook,.instagram{
            height         : 50%;
            display        : flex;
            justify-content: center;
            align-items    : center;
            text-decoration: none;
            color          : $color-text-grey;
            cursor         : pointer;
            img{
              width     : 30px;
              height    : 30px;
              transition: 0.5s ease;
            }
            p{
              transition: 0.5s ease;
            }
            &:hover{
              img{
                transform: scale(1.5) translateY(15%);
              }
              p{
                opacity: 0;
              }
            }
          }
          .facebook{
            border-bottom: solid 1px $color-grey-font-color;
          }
          .instagram{

          }
        }
      }
    }
    
    .header_right{
      position        : relative;
      overflow        : hidden;
      width           : 70%;
      transition-delay: 0.3s;
      .swiper-pagination-bullets{
        width: 40px;
        right: 0;
        top  : 70%;
      }
      .sw_mask{
        position: absolute;
        width   : 40px;
        height  : 100%;
        z-index : 9;
      }
      .mask_left{
        left        : 0;
        border-right: dashed 1px $color-white;
      }
      .mask_right{
        right      : 0;
        border-left: dashed 1px $color-white;
        .banner_arrow{
          position: absolute;
          width   : 40px;
          height  : 50px;
          z-index : 99999;
        }
        .top{
          top  : 36%;
          right: 0;
        }
        .bottom{
          top      : 54%;
          right    : 0;
          transform: rotate(180deg)
        }
        #banner_count{
          position      : absolute;
          top           : 45%;
          right         : 10px;
          letter-spacing: 0.3em;
          writing-mode  : vertical-rl; 
          color         : $color-white;
        }
      }
      .ban_page1{
        background-image: url('/img/airport.jpg');
      }
      .ban_page2{
        background-image: url('/img/footer_left.jpg');
      }
      .banner{
        position           : relative;
        height             : 100%;
        background-size    : cover;
        background-position: center;
        &::before{
          content         : '';
          background-color: $color-mask-banner;
          position        : absolute;
          top             : 0;
          right           : 0;
          bottom          : 0;
          left            : 0;
          opacity         : 0.4;
        }
        .banner_word{
          transition      : 0.5s;
          position        : absolute;
          top             : 50%;
          left            : 25%;
          transform       : translateY(-50%) translateX(-25%);
          color           : $color-white;
          transition-delay: 0.3s;
          h1{
            transition : 0.5s;
            font-size  : 60px;
            text-shadow: 5px 5px 6px  $color-grey;
          }
          p{
            transition: 0.5s;
            font-size : 24px;
          }
          .eng{
            font-size: 18px;
          }
        }
      }
    }
  }
  
  .navbar{
    width           : 100%;
    height          : 10%;
    z-index         : 2;
    background-color: $color-grey;
    font-weight     : 700;
    margin-bottom   : 0;
    display         : flex;
    justify-content : center;
    align-items     : center;
    ul{
      margin : 0;
      padding: 0;
      li{
        font-size : 15px;
        display   : inline-block;
        list-style: none;
        &::after{
          content         :"";
          vertical-align  : middle;
          width           : 1px;
          height          : 20px;
          display         : inline-block;
          background-color: $color-white;
        }
        a{
          text-decoration: none;
          color          : $color-white;
          margin         : 0px 30px;
          padding-bottom : 20px;
          border-bottom  : solid 3px transparent;
          transition     : 0.5s ease;
          &:hover{
            border-bottom: solid 3px $color-white;
          } 
        }
      }
      li.nav_final{
        &::after{
          content         :"";
          background-color: transparent;
        }
      }
    }
  }
}






/*----------footer---------*/


#footer{
  display        : flex;
  justify-content: center;
  align-items    : stretch;
  .footer_logo{
    background-image   : url('/img/footer_left.jpg');
    background-position: center;
    background-size    : cover;
    width              : 37.5%;
    padding            : 30px 0;
  }
  .footer_contact{
    font-size: $header-contact-font-size;
    width    : 25%;
    display  : flex;
    .footer_addr{
      position       : relative;
      width          : 70%;
      border-right   : solid 1px $color-grey-font-color;
      display        : flex;
      justify-content: center;
      align-items    : center;
      padding        : 30px 0; 
      .shop_list{
        height: 100%;
        .shop{
          height: calc(100% / 3);
          .shop_contact,img{
            display       : inline-block;
            vertical-align: middle;
          }
          img{
            width : 30px;
            height: 30px;
          }
          .shop_contact{
            line-height: 5px;
            p{
              margin: 12px 0px;
            }
          }   
        }
      } 
    }
    .community{
      width: 30%;
      .link{
        text-align: center;
      }
      .facebook,.instagram{
        height         : 50%;
        display        : flex;
        justify-content: center;
        align-items    : center;
        text-decoration: none;
        color          : $color-text-grey;
        cursor         : pointer;
        img{
          width     : 30px;
          height    : 30px;
          transition: 0.5s ease;
          }
        p{
          transition: 0.5s ease;
        }
        &:hover{
          img{
            transform: scale(1.5) translateY(15%);
          }
          p{
            opacity: 0;
          }
        }
      }
      .facebook{
        border-bottom: solid 1px $color-grey-font-color;
        img{
          width : 30px;
          height: 30px;
        }
      }
      .instagram{
        img{
          width : 30px;
          height: 30px;
        }
      }
    }
  }
  .footer_copy{
    background-image   : url('/img/footer_right.jpg');
    background-position: center;
    background-size    : cover;
    width              : 37.5%;
    padding            : 30px 0;
  }
}


/*----------choose---------*/

#choose{
  margin-bottom: 80px;
  .container-fluid{
    margin: 0 80px;
    .row{
      .co_post{
        .choose_post{
          .img_div{
            position      : relative;
            padding-bottom: 100%;
            overflow      : hidden;
            border-radius : 8px;
            img{
              position     : absolute;
              top          : 50%;
              left         : 50%;
              transform    : translateX(-50%) translateY(-50%);
              max-width    : 100%;
              max-height   : 100%;
              border-radius: 12px;
            }
          }
          .post_text{
            padding: 0 15px;
            h3{
              color      : $color-grey;
              font-weight: 700;
            }
            p{
              color: $color-text-grey;
            }
            .choose_btn{
              display        : flex;
              justify-content: center;
              align-items    : center;
              .goBuy{
                margin-top      : 20px;
                border          : none;
                outline         : none;
                padding         : 3px 30px;
                border-radius   : 8px;
                margin-bottom   : 20px;
                transition      : 0.5s;
                background-color: $color-coffee;
                &:hover{
                  opacity: 0.7;
                }
                a{
                  color          : $color-white;
                  text-decoration: none;
                  font-weight    : 500;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*----------products---------*/

#products{
  background-image     : url('/img/products_background.jpg');
  background-position  : top center;
  background-size      : 200%;
  background-attachment: fixed;
  position             : relative;
  z-index              : 1;
  &::after{
    content         : '';
    position        : absolute;
    top             : 0;
    right           : 0;
    left            : 0;
    bottom          : 0;
    background-color: #F6F6F6;
    opacity         : 0.5;
    z-index         : 0; 
  }
  
  .container-fluid{
    overflow: hidden;
    margin  : 0 80px;
    z-index : 2;
    .row{
      .product_nav{
        .navbar-default{
          background-color: transparent;
          z-index : 2;
          .nav-tabs{
            border: none;
            li{
              z-index: 2;
              a{
                border-radius   : 8px;
                border          : solid 2px $color-mask-logo;
                color           : $color-mask-logo;
                font-weight     : 700;
                transition      : 0.5s;
                background-color: transparent; 
                padding         : 5px 18px;
                margin          : 0 3px;
                &:hover{
                  background-color: $color-coffee;
                  border          : solid 2px $color-coffee;
                  color           : $color-white;                  
                }
              }
            }
          }
        }
      }
      .product_nav_index{
        .tab-content{
          .tab-pane{
            margin: 50px 0;
            .product_img{
              z-index       : 2;
              padding-bottom: 100%;
              position      : relative;
              &::after{
                content         : '';
                position        : absolute;
                top             : 0;
                right           : 0;
                bottom          : 0;
                left            : 0;
                z-index         : 3;
                transition      : 0.5s;
                cursor          : pointer;
                background-color: transparent;
              }
              &:hover{
                &::after{
                  background-color: $color-black-mask;
                }
                .product_quick_view{
                  opacity: 1;
                }
              }
              .product_img_inside{
                max-width : 100%;
                max-height: 100%;
                position  : absolute;
                top       : 50%;
                left      : 50%;
                transform : translateX(-50%) translateY(-50%);
              }
              .product_quick_view{
                position       : absolute;
                opacity        : 0;
                width          : 100%;
                top            : 50%;
                transform      : translateY(-50%);
                display        : flex;
                justify-content: center;
                align-items    : center;
                transition     : 0.5s;
                z-index        : 4;
                .product_quick_text{
                  color       : $color-white;
                  font-size   : 20px;
                  font-weight : 500;
                  margin      : 0;
                  margin-right: 5px;
                }
                .product_quick_icon{
                  width : 15px;
                  height: 15px;
                }
              }
            }
            .porduct_colors{
              margin : 0;
              padding: 0;
              li{
                display   : inline-block;
                list-style: none;
                width     : 18px;
                height    : 18px;
              }
            }
            .product_price,
            .product_name{
              margin: 11px 0;
            }
            .product_price,
            .buy_click{
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

/*----------news---------*/
#news{
  .container-fluid{
    .row{
      .newsPost{
        display         : flex;
        justify-content : space-between;
        align-items     : flex-start;
        background-color: $color-grey-light;
        margin          : 10px;
        padding         : 5px;
        position        : relative;
        border-radius   : 20px; 
        .newsPostMask{
          opacity         : 0;
          position        : absolute;
          top             : 0;
          left            : 0;
          right           : 0;
          bottom          : 0;
          background-color: $color-black-mask;
          z-index         : 2;
          transition      : 0.5s;
          border-radius   : 20px;
          a{
            display         : flex;
            justify-content : center;
            align-items     : center;
            text-decoration : none;
            width           : 100%;
            height          : 100%;
            color           : $color-white;
            font-size       : 30px;
            P{
              
            }
          }
          .maskLine{
            position        : absolute;
            left            : 50%;
            background-color: $color-white;
            opacity         : 0.5;
            width           : 1px;
            height          : 205%;
          }
          .lineLeft{
            transform: rotate(61deg);
            top      : -52%;
          }
          .lineRight{
            transform: rotate(-61deg);
            top      : -52%;
          }
        }
        &:hover{
          .newsPostMask{
            opacity: 1;
          }
        } 
        .newsImgBox{
          position      : relative;
          padding-bottom: 55%;
          width         : 45%;
          overflow      : hidden;
          border-radius : 20px;
          
          .newImg{
           max-width     : 100%;
           max-height    : 100%;
           position      : absolute;
           top           : 50%;
           left          : 50%;
           transform     : translateX(-50%) translateY(-50%);
           border-radius : 20px; 
          }
        }
        .newsText{
          width    : 55%;
          font-size: 15px;
          padding  : 10px;

          .newsTextTitle{
            color      : $color-black;
            font-size  : 25px;
            font-weight: 700;
          }
          .newPostTextP{
            color      : $color-grey;
            line-height: 40px;
          }
          a{
            color          : $color-grey;
            text-decoration: none;
            transition     : 0.5s;
            &:hover{
              opacity: 0.7;
            }
          }
        }
      } 
    }
  }
}

/*----------news---------*/

#feedback{
  background-image     : url('/img/products_background.jpg');
  background-position  : top center;
  background-size      : 200%;
  background-attachment: fixed;
  position             : relative;
  padding-bottom       : 80px;
  z-index              : 1;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #F6F6F6;
    opacity: 0.5;
    z-index: 0;
  }
  .container-fluid{
    margin : 0 80px;
    z-index: 2;
    .row{
      z-index: 2;
      .feedback-Index{
        overflow: hidden;
        z-index : 2;
        .swiper-wrapper{
          .swiper-slide{
            .col-md-4{
              margin: 15px 0;
              .feedbackPost{
                background-color: $color-white;
                position        : relative;
                overflow        : hidden;
                .feedback-Icon{
                  width      : 15%;
                  margin-top : -4px;
                  margin-left: -2px;
                  text-align : left;
                }
                .feedback-Inner{
                  padding: 30px 15px;
                  height : 200px;
                  p{
                    font-size: 15px;
                  }
                }
                .feedback-Author{
                  width     : 100%;
                  height    : 50px;
                  position  : relative;
                  text-align: right;
                  p{
                    position     : absolute;
                    right        : 10px;
                    bottom       : 0;
                    border-bottom: solid 3px $font-color-focus;
                    font-weight  : 700;
                    font-size    : 25px;
                  }
                }
              } 
            }
          }
        }
      }
    }
  }
}