
*{
  font-family: 微軟正黑體;
}

.section_title{
  margin-top   : 80px;
  margin-bottom: 50px;
  z-index      : 2;
  p{
    text-align : center;
    font-size  : 36px;
    color      : $color-grey;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
.sw_mask{
  position: absolute;
  width   : 60px;
  height  : 100%;
  z-index : 2;
  .product_arrow{
    position : absolute;
    width    : 35px;
    top      : 50%;
    transform: translateY(-50%);
  }
  .left{
    left: 10px;
  }
  .right{
    right: 10px;
  }
}
.mask_left{
  left        : 0;
  border-right: dashed 1px $color-grey-mask;
}
.mask_right{
  right      : 0;
  border-left: dashed 1px $color-grey-mask;
} 

.klsBurger-switch{
  display : none;
  position: fixed;
  background-color: transparent;
  top     : 15px;
  left    : 15px;
  width   : 35px;
  z-index : 9999999;
  border  : none;
  height  : 29px;
  cursor  : pointer;
  outline : none; 
  span{
    background-color: $color-coffee;
    position        : absolute;
    width           : 25px;
    height          : 3px;
    left            : 50%;
    transform       : translateX(-50%); 
    transition      : 0.3s; 
  }
  span:nth-child(1){
    top   : 8px;
  }
  span:nth-child(2){
    top    : 50%;
    opacity: 0;
  }
  span:nth-child(3){
    top: 50%;
  }
  span:nth-child(4){
    bottom: 4px;
  }
}
.openNow{
  background-color: transparent;
  border          : none;
  span{
    background-color: $color-white;
  }
  span:nth-child(1){
    opacity: 0;
    transform: translateX(20px);
  }
  span:nth-child(2){
    opacity  : 1;
    height   : 3px;
    transform: translateX(-50%) rotate(45deg);
  }
  span:nth-child(3){
    height   : 3px;
    transform: translateX(-50%) rotate(-45deg);
  }
  span:nth-child(4){
    opacity: 0;
    transform: translateX(-20px);
  }
}
.openNow-menu{
  opacity         : 1 !important;
  transition      : 0.5s;
  z-index         : 1000001 !important;
  .klsBurger-menu-inner{
    transform : scale(1) !important;
  }
}
.openNow-filter{
  filter    : blur(20px);
  transition: 0.5s;
}
.klsBurger-menu{
  display         : flex;
  justify-content : center;
  align-items     : center;
  position        : fixed;
  top             : 0;
  left            : 0;
  opacity         : 0;
  width           : 100%;
  height          : 100%;
  background-color: rgba(50,50,50,0.4);
  box-shadow      : 0px 0px 65px #000 inset;
  color           : $color-white;
  transition      : 0.5s;
  user-select     : none;
  z-index: -1;
  .klsBurger-menu-inner{
    transform : scale(0.85);
    transition: 0.5s;
    font-size : 16px;
    .klsBurger-menu-close{
      position: absolute;
      top     : 10px;
      right   : 10px;
    }
    ul{
      width       : 100%;
      text-align  : center;
      padding-left: 0;
      margin-top  : 60px;
      li{
        list-style   : none;
        margin-top   : 25px;
        transition: 0.5s;
        &:hover{
          transform: scale(0.8);
        }
        a{
          color          : $color-white;
          text-decoration: none;
          padding-bottom : 5px;
        }
      }
    }
    .klsBurger-menu-logo{
      text-align: center;
      img{
        width: 250px;
      }
    }
  }
}

.forwardNews{
  text-align      : center;
  padding         : 5px 0;
  position        : absolute;
  top             : 0;
  z-index         : 999999;
  background-color: #C9CACA;
  width           : 100%;
  transition      : 0.5s; 
  a{
    color          : #3E3A39;
    text-decoration: none;
  }
  &:hover{
    background-color: #3E3A39;
    a{
      color : #C9CACA;
    }
  }
}
.closeFilter{
  transform: rotate(180deg)
}
@keyframes aniBackground{
  0%{
    background-position: center 100%;
  }
  50%{
    background-position: center 0%;
  }
  100%{
    background-position: center 100%;
  }
}
/*----------header---------*/
.open > .dropdown-menu {
  display: flex;
}
.mega-menu {
  position: static !important;
  .mega-menu-product{
    width      : 60%;
    right      : 0 !important;
    left       : auto;
    z-index    : 99999;
    align-items: stretch;
    transition : 0.5s;
    li{
      padding: 20px 10px;
      margin : 0 !important;
    }
    .mega-menu-title{
      text-align: center;
      h2{
        font-weight: 900;
        margin-top : 0;
      }
      p{
        font-weight: 900;
        color      : #B3B3B3;
      }
    }
    .mega-menu-list{
      text-align: center;
      &:hover{
        a{
          border-bottom: solid 1px #fff !important;
        }
      }
      ul{
        padding: 0;
        li{
          padding: 15px 10px;
          a{
            color: #636b6f !important;
            border: solid 1px #fff !important;
            padding-bottom: 0 !important;
            padding: 5px 25px !important;
            border-radius: 8px;
          }
          &:hover{
            a{
              border: solid 1px #B3B3B3 !important;
            }
          }
        }
      }
    }
    .mega-menu-img{
      margin: 0 !important;
      height: 330px;
      width: 300px;
      padding: 20px 0px;
      .dropdown-menu-inner-img{
        position: relative;
        min-width: 100%;
        min-height: 100%;
        background-size: cover;
        background-position: center;
      }
    }
    .mega-menu-text{
      .dropdown-menu-inner-text{

      }
    }
  }
}
#header{
  position: relative;
  .header_top_area{
    display: flex;
    height : 90%;
    .header_left{
      width   : 30%;
      overflow: hidden;
      .logo_area{
        position: relative;
        height  : 70%;
        &::before{
          content         : '';
          position        : absolute;
          top             : 0;
          right           : 0;
          bottom          : 0;
          left            : 0;
          opacity         : 0.4;
          z-index         : 1;
          background-color: $color-mask-logo;
        }
        .logo{
          position           : absolute;
          top                : 0;
          right              : 0;
          left               : 0;
          bottom             : 0;
          background-image   : url('/img/logo_backimg.jpg');
          background-size    : cover;
          background-position: center bottom;
          animation: aniBackground 30s infinite;
          animation-timing-function: ease-in-out;
          .mark{
            position        : absolute;
            top             : 50%;
            left            : 50%;
            transform       : translateX(-50%) translateY(-50%);
            background-color: transparent;
            z-index         : 2;
            text-align      : center;
            text-decoration : none;
            cursor          : pointer;
            .mark_text{
              color      : $color-white;
              font-weight: 700;
            }
            .mark_middle{
              font-size: 20px;
            }
            .mark_bottom{
              font-size: 12px;
            }
            img{
              width: 100%;
            }
          }
          .mark_time{
            position: absolute;
            right   : -50px;
            bottom  : 10px;
            z-index : 2;
            img{
              width: 90%;
            }
          }
        }
      }
      .header_contact{
        font-size: $header-contact-font-size;
        display  : flex;
        height   : 30%;
        .header_addr{
          position       : relative;
          width          : 50%;
          border-right   : solid 1px $color-grey-font-color;
          display        : flex;
          justify-content: center;
          align-items    : center;
          .shop_list{
            height: 100%;
            .shop{
              height         : calc(100% / 3);
              display        : flex;
              justify-content: flex-start;
              align-items    : center;
              .shop_contact,img{
                display       : inline-block;
                vertical-align: middle;
                transition    : 0.5s;
              }
              img{
                width : 30px;
                height: 30px;
              }
              .shop_contact{
                line-height: 15px;
                p{
                  margin: 12px 0px;
                }
              }   
            }
          }    
        }
        .community{
          width: 50%;
          color: $color-text-grey;
          .link{
            text-align: center;
            p{
              margin-bottom: 0;
            }
          }
          .facebook,.instagram{
            height         : 50%;
            display        : flex;
            justify-content: center;
            align-items    : center;
            text-decoration: none;
            color          : $color-text-grey;
            cursor         : pointer;
            img{
              width     : 30px;
              height    : 30px;
              transition: 0.5s ease;
            }
            p{
              transition: 0.5s ease;
            }
            &:hover{
              img{
                transform: scale(1.5) translateY(15%);
              }
              p{
                opacity: 0;
              }
            }
          }
          .facebook{
            border-bottom: solid 1px $color-grey-font-color;
          }
          .instagram{

          }
        }
      }
    }
    
    .header_right{
      position        : relative;
      overflow        : hidden;
      width           : 70%;
      transition-delay: 0.3s;
      .swiper-pagination-bullets{
        width: 40px;
        right: 0;
        top  : 70%;
      }
      .sw_mask{
        position: absolute;
        width   : 40px;
        height  : 100%;
        z-index : 9;
      }
      .mask_left{
        left        : 0;
        border-right: dashed 1px $color-white;
      }
      .mask_right{
        right      : 0;
        border-left: dashed 1px $color-white;
        .banner_arrow{
          position: absolute;
          width   : 40px;
          height  : 50px;
          z-index : 99999;
          outline : none; 
        }
        .top{
          top  : 36%;
          right: 0;
        }
        .bottom{
          top      : 54%;
          right    : 0;
          transform: rotate(180deg)
        }
        #banner_count{
          position      : absolute;
          top           : 45%;
          right         : 10px;
          letter-spacing: 0.3em;
          writing-mode  : vertical-rl; 
          color         : $color-white;
        }
      }
      .ban_page1{
        background-image: url('/img/airport.jpg');
      }
      .ban_page2{
        background-image: url('/img/footer_left.jpg');
      }
      .banner{
        position           : relative;
        height             : 100%;
        background-size    : cover;
        background-position: center;
        &::before{
          content         : '';
          background-color: $color-mask-banner;
          position        : absolute;
          top             : 0;
          right           : 0;
          bottom          : 0;
          left            : 0;
          opacity         : 0.4;
        }
        .banner_word{
          transition      : 0.5s;
          position        : absolute;
          top             : 60%;
          left            : 20%;
          transform       : translateY(-60%) translateX(-20%);
          color           : $color-white;
          transition-delay: 0.3s;
          h1{
            transition : 0.5s;
            font-size  : 50px;
            text-shadow: 5px 5px 6px  $color-grey;
          }
          p{
            transition: 0.5s;
            font-size : 18px;
          }
          .eng,
          .banner_Thumbtack{
            display: inline-block;
          }
          .banner_Thumbtack{
            width        : 20px;
            height       : 20px;
            transform    : rotate(-45deg);
            margin-bottom: 5px;
          }
          .eng{
            font-size: 18px;
            margin   : 0;
          }
        }
      }
    }
  }
  
  .navbar{
    width           : 100%;
    height          : 10%;
    z-index         : 99999;
    background-color: $color-grey;
    font-weight     : 700;
    margin-bottom   : 0;
    display         : flex;
    justify-content : center;
    align-items     : center;
    
    ul{
      margin : 0;
      padding: 0;
      li{
        font-size   : 15px;
        display     : inline-block;
        list-style  : none;
        border-right: solid 1px rgba(250,250,250,0.2);
        a{
          text-decoration: none;
          color          : $color-white;
          margin         : 0px 30px;
          padding-bottom : 28px;
          border-bottom  : solid 3px transparent;
          transition     : 0.5s ease;
          &:hover{
            border-bottom: solid 3px $color-white;
          } 
        }
      }
    }
  }
}

/*----------footer---------*/

#footer{
  display        : flex;
  justify-content: center;
  align-items    : stretch;
  border-top     : solid 1px $color-grey-font-color;
  .footer_logo{
    background-image   : url('/img/footer-1.jpg');
    background-position: center;
    background-size    : cover;
    width              : 37.5%;
    .logo_area{
      position: relative;
      height  : 100%;
      width   : 100%;
      .logo{
        position           : absolute;
        top                : 0;
        right              : 0;
        left               : 0;
        bottom             : 0;
        .mark{
          position        : absolute;
          top             : 50%;
          left            : 50%;
          transform       : translateX(-50%) translateY(-50%);
          background-color: transparent;
          z-index         : 2;
          text-align      : center;
          text-decoration : none;
          cursor          : pointer;
          .mark_text{
            color: rgba(255,255,255,0.8);
          }
          .mark_middle{
            font-size     : 16px;
            letter-spacing: 5px;
            margin        : 0;
          }
          .mark_bottom{
            font-size: 12px;
          }
          img{
            width: 200px;
          }
        }
      }
      .footerCopyRight{
        display   : none; 
        font-size : 12px;
        text-align: center;
        width     : 100%;
        position  : absolute;
        bottom    : 0;
        color     : rgba(255,255,255,0.8);
      }
    }
  }
  .footer_contact{
    font-size: $header-contact-font-size;
    width    : 25%;
    display  : flex;
    .footer_addr{
      position       : relative;
      width          : 70%;
      border-right   : solid 1px $color-grey-font-color;
      display        : flex;
      justify-content: center;
      align-items    : center;
      padding        : 30px 0; 
      .shop_list{
        height: 100%;
        .shop{
          height: calc(100% / 3);
          .shop_contact,img{
            display       : inline-block;
            vertical-align: middle;
          }
          img{
            width : 25px;
            height: 25px;
          }
          .shop_contact{
            line-height: 5px;
            p{
              margin: 12px 0px;
            }
          }   
        }
      } 
    }
    .community{
      width: 30%;
      .link{
        text-align: center;
      }
      .facebook,.instagram{
        height         : 50%;
        display        : flex;
        justify-content: center;
        align-items    : center;
        text-decoration: none;
        color          : $color-text-grey;
        cursor         : pointer;
        img{
          width     : 30px;
          height    : 30px;
          transition: 0.5s ease;
          }
        p{
          transition: 0.5s ease;
        }
        &:hover{
          img{
            transform: scale(1.5) translateY(15%);
          }
          p{
            opacity: 0;
          }
        }
      }
      .facebook{
        border-bottom: solid 1px $color-grey-font-color;
        img{
          width : 30px;
          height: 30px;
        }
      }
      .instagram{
        img{
          width : 30px;
          height: 30px;
        }
      }
    }
  }
  .footer_copy{
    background-image   : url('/img/footer-2.jpg');
    background-position: center;
    background-size    : cover;
    width              : 37.5%;
    position           : relative;
    .footer_copy_textArea{
      position : absolute;
      top      : 50%;
      left     : 20%;
      transform: translateX(-20%) translateY(-50%);
      p{
        color: rgba(255,255,255,0.7);
        font-size: 12px;
      }
    }
    .footerCopyRight{
      position  : absolute;
      bottom    : 0;
      width     : 100%;
      font-size : 12px;
      color     : rgba(255,255,255,0.7);
      text-align: center;

    }
  }
}

/*----------choose---------*/

#choose{
  margin-bottom: 80px;
  .container-fluid{
    margin: 0 80px;
    .row{
      .co_post{
        padding: 0 30px;
        .choose_post{
          .img_div{
            position      : relative;
            padding-bottom: 100%;
            overflow      : hidden;
            border-radius : 8px;
            img{
              position     : absolute;
              top          : 50%;
              left         : 50%;
              transform    : translateX(-50%) translateY(-50%);
              max-width    : 100%;
              max-height   : 100%;
              border-radius: 12px;
            }
          }
          .post_text{
            h3{
              color      : $color-grey;
              font-weight: 700;
            }
            p{
              color: $color-text-grey;
            }
            .choose_btn{
              display        : flex;
              justify-content: center;
              align-items    : center;
              .goBuy{
                margin-top      : 20px;
                border          : none;
                outline         : none;
                padding         : 3px 30px;
                border-radius   : 8px;
                margin-bottom   : 20px;
                transition      : 0.5s;
                background-color: $color-coffee;
                &:hover{
                  opacity: 0.7;
                }
                a{
                  color          : $color-white;
                  text-decoration: none;
                  font-weight    : 500;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*----------products---------*/

#products{
  background-image     : url('/img/products_background.jpg');
  background-position  : top center;
  background-size      : 200%;
  background-attachment: fixed;
  position             : relative;
  z-index              : 1;
  &::after{
    content         : '';
    position        : absolute;
    top             : 0;
    right           : 0;
    left            : 0;
    bottom          : 0;
    background-color: #F6F6F6;
    opacity         : 0.8;
    z-index         : 0; 
  }
  
  .container-fluid{
    overflow: hidden;
    margin  : 0 80px;
    z-index : 2;
    .row{
      .product_nav{
        .navbar-default{
          background-color: transparent;
          z-index : 2;
          .nav-tabs{
            border: none;
            .active{
              a{
                background-color: $color-coffee;
                border          : solid 2px $color-coffee;
                color           : $color-white;   
              }
            }
            li{
              z-index: 2;
              a{
                border-radius   : 8px;
                border          : solid 2px $color-mask-logo;
                color           : $color-mask-logo;
                font-weight     : 700;
                transition      : 0.5s;
                background-color: transparent; 
                padding         : 5px 18px;
                margin          : 0 3px;
                &:hover{
                  background-color: $color-coffee;
                  border          : solid 2px $color-coffee;
                  color           : $color-white;                  
                }
              }
            }
          }
        }
      }
      .product_nav_index{
        .tab-content{
          .tab-pane{
            margin: 50px 0;
            .product_img{
              z-index       : 2;
              padding-bottom: 100%;
              position      : relative;
              overflow      : hidden;
              &::before{
                content         : '';
                position        : absolute;
                top             : 0;
                right           : 0;
                bottom          : 0;
                left            : 0;
                z-index         : 3;
                transition      : 0.5s;
                cursor          : pointer;
                border          : solid 0px $color-black-mask;
              }

              &:hover{
                &::before{
                  border: solid 200px $color-black-mask;
                }
                .product_quick_view{
                  opacity: 1;
                }
              }
              .product_img_inside{
                max-width : 100%;
                max-height: 100%;
                position  : absolute;
                top       : 50%;
                left      : 50%;
                transform : translateX(-50%) translateY(-50%);
              }
              .product_quick_view{
                position       : absolute;
                opacity        : 0;
                width          : 100%;
                top            : 50%;
                transform      : translateY(-50%);
                display        : flex;
                justify-content: center;
                align-items    : center;
                transition     : 0.5s;
                z-index        : 4;
                .product_quick_text{
                  color       : $color-white;
                  font-size   : 20px;
                  font-weight : 500;
                  margin      : 0;
                  margin-right: 5px;
                }
                .product_quick_icon{
                  width : 15px;
                  height: 15px;
                }
              }
            }
            .product_category{
              display        : flex;
              justify-content: space-between;
              align-items    : center;
              .product_category_detail{
                .porduct_colors{
                  margin : 0;
                  padding: 0;
                  li{
                    display     : inline-block;
                    list-style  : none;
                    width       : 18px;
                    height      : 18px;
                    margin-right: 3px;
                  }
                }
                .product_price{

                }
              }
              .buy_click{
                background-color: $color-coffee;
                color           : $color-white;
                border-radius   : 50%;
                border          : none;
                padding         : 10px 20px;
                transition      : 0.5s;
                font-size       : 18px;
                white-space     : nowrap;
                &:hover{
                  background-color: $color-coffee-hover;
                }
              }
            }
            .product_series,
            .product_name,
            .product_price{
              color: $color-product;
            }
            .product_price,
            .product_name{
              margin: 11px 0;
            }
          }
        }
      }
    }
  }
}

/*----------news---------*/
#news{
  overflow: hidden;
  .container-fluid{
    .row{
      .newsPost{
        display         : flex;
        justify-content : space-between;
        align-items     : stretch;
        background-color: $color-grey-light;
        margin          : 10px;
        padding         : 5px;
        position        : relative;
        overflow        : hidden;
        border-radius   : 20px; 
        .newsPostMask{
          border          : solid 0px $color-black-mask;
          position        : absolute;
          top             : 0;
          left            : 0;
          right           : 0;
          bottom          : 0;
          z-index         : 2;
          transition      : 0.5s;
          border-radius   : 20px;
        }
        .newsPost-ReadMore{
          opacity         : 0;
          z-index         : 3;
          display         : flex;
          justify-content : center;
          align-items     : center;
          text-decoration : none;
          position        : absolute;
          top             : 0;
          left            : 0;
          right           : 0;
          bottom          : 0;
          color           : $color-white;
          transition      : all 0.5s linear 0.2s;
          font-size       : 30px;
          p{
            white-space: nowrap;             
          }
        }
        &:hover{
          .newsPostMask{
            border: solid 250px $color-black-mask;
          }
          .newsPost-ReadMore{
            opacity: 1;
          }
        } 
        .newsImgBox{
          padding-bottom: 45%;
          width         : 40%;
          overflow      : hidden;
          border-radius : 20px;
          background-size: cover;
          background-position: center;
        }
        .newsText{
          width    : 58%;
          font-size: 15px;
          padding  : 10px;

          .newsTextTitle{
            color        : $color-black;
            font-size    : 25px;
            font-weight  : 700;
            white-space  : nowrap;
            text-overflow: ellipsis;
            overflow     : hidden;
          }
          .newPostTextP{
            color        : $color-grey;
            line-height  : 40px;
            text-overflow: ellipsis;
            overflow     : hidden;
          }
          a{
            color          : $color-grey;
            text-decoration: none;
            transition     : 0.5s;
            &:hover{
              opacity: 0.7;
            }
          }
        }
      } 
    }
  }
}

/*----------news---------*/

#feedback{
  background-image     : url('/img/products_background.jpg');
  background-position  : top center;
  background-size      : 200%;
  background-attachment: fixed;
  position             : relative;
  padding-bottom       : 80px;
  z-index              : 1;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #F6F6F6;
    opacity: 0.5;
    z-index: 0;
  }
  .container-fluid{
    margin : 0 80px;
    z-index: 2;
    .row{
      z-index: 2;
      .feedback-Index{
        overflow: hidden;
        z-index : 2;
        .swiper-wrapper{
          .swiper-slide{
            .col-md-4{
              margin: 15px 0;
              .feedbackPost{
                background-color: $color-white;
                position        : relative;
                overflow        : hidden;
                .feedback-Icon{
                  width      : 15%;
                  margin-top : -5px;
                  margin-left: -2px;
                  text-align : left;
                }
                .feedback-Inner{
                  padding : 30px 15px;
                  p{
                    font-size: 15px;
                  }
                }
                .feedback-Author{
                  width     : 100%;
                  height    : 50px;
                  position  : relative;
                  text-align: right;
                  p{
                    position     : absolute;
                    right        : 10px;
                    bottom       : 0;
                    border-bottom: solid 3px $font-color-focus;
                    margin       : 0;
                    font-weight  : 700;
                    font-size    : 25px;
                  }
                }
              } 
            }
          }
        }
      }
    }
  }
}

// sub-page-header-footer

.sub-page-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  background-color: #fff;
  .sub-page-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    padding: 15px 0px;
    .sub-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        width: 230px;
      }
    }
    .sub-nav-menu {
      padding: 15px 0px;
      .sub-nav-menu-ul {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 0;
        li {
          list-style: none;
          margin: 0 15px;
          &:hover a {
            border-bottom: solid 1px #FBB03B;
          }
        }
        .sub-icon img {
          width: 20px;
          cursor: pointer;
        }
        li a {
          color: #3E3A39;
          font-size: 15px;
          white-space: nowrap;
          text-decoration: none;
          transition: 0.5s;
          border-bottom: solid 1px transparent;
        }
      }
    }
  }
}

.filter-area, .container-productCount {
  width: 1200px;
}

.filter-product, .sub-page-header-inner {
  width: 1400px;
}

.sub-page-footer {
  background-color: #3E3A39;
  .sub-page-footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    padding: 50px 0px;
    .sub-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      a {
        text-decoration: none;
        img {
          width: 230px;
        }
      }
    }
    .sub-nav-menu {
      padding: 15px 0px;
      .sub-nav-menu-ul {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 0;
        li {
          list-style: none;
          margin: 0 15px;
          transition: 0.3s;
          &:hover {
            opacity: 0.7;
          }
          a {
            color: #fff;
            font-size: 15px;
            white-space: nowrap;
            text-decoration: none;
          }
        }
      }
    }
    .sub-contact-icon {
      padding: 15px 0px;
      .sub-icons img {
        width: 30px;
        height: 30px;
        transition: 0.3s;
        margin: 0 10px;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

.sub-page-footer-copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  padding: 10px 0;
  width: 100%;
  .sub-page-footer-copyright-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 83%;
    padding: 0 20px;
    .needKnow {
      text-align: right;
      span {
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
}

// product

.filter-area {
  margin-top: 180px;
  .filter-title {
    text-align: center;
    position: relative;
    h1 {
      font-weight: 700;
      color: black;
      margin-bottom: 20px;
    }
    .filter-title-hr {
      width: 6em;
      height: 3px;
      background-color: #FBB03B;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .filter-filtering {
    margin-bottom: 50px;
    padding: 0;
    .filter-filters .filters-selects {
      .filters-selects-div {
        display: inline-block;
      }
      label {
        margin-left: 5px;
        margin-right: 16px;
      }
    }
  }
}

.filter-product-out {
  background-color: #E6E6E6;
  display: flex;
  justify-content: center;
}

.filter-product {
  color: #E6E6E6;
  .filter-product-readMore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    #readMore-btn {
      border: solid 1px #3E3A39;
      padding: 14px 120px;
      color: #3E3A39;
      font-size: 20px;
      font-weight: 600;
      outline: none;
      background-color: #fff;
      transition: 0.3s;
      border-radius: 8px;
      &:hover {
        background-color: #3E3A39;
        color: #fff;
      }
    }
  }
  .filter-product-row {
    padding: 50px 0;
    &.product-more {
      padding-top: 0;
      display: none;
    }
  }
  .col-md-6 {
    padding: 15px;
    .product-inner {
      display: flex;
      justify-content: center;
      align-items: stretch;
      background-color: #fff;
      margin: 20px 0;
      cursor: pointer;
      position: relative;
    }
  }
  .product-inner .productHeart {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #E6E6E6;
    padding: 4px 7px 7px 7px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: #636b6f;
    }
  }
}

.productHeart-active {
  background-color: #636b6f !important;
}

.filter-product .product-inner {
  .buyIt {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #3E3A39;
    border: none;
    outline: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 13px;
    transition: 0.5s;
    &:hover {
      opacity: 0.7;
    }
  }
  .product-innertext .buyIt img {
    width: 15px;
    height: 15px;
  }
  .buyIt p {
    margin: 0;
    margin-left: 5px;
    font-size: 12px;
  }
  .product-img {
    width: 35%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    .product-img-mask {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: solid 0px rgba(0, 0, 0, 0.4);
      transition: 0.5s;
    }
  }
  &:hover .product-img-mask {
    border: solid 200px rgba(0, 0, 0, 0.4);
  }
  .product-img p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: 0.5s;
  }
  &:hover .product-img p {
    opacity: 1;
  }
  .product-innertext {
    width: 65%;
    margin-left: 20px;
    padding: 15px 5px;
    .product-title p {
      font-size: 25px;
      font-weight: 700;
      color: black;
    }
    .product-style {
      font-size: 12px;
      line-height: 15px;
      .product-model {
        color: #b3b3b3;
      }
      .product-size {
        color: #b3b3b3;
        span {
          margin-right: 20px;
        }
      }
      .product-text {
        color: #b3b3b3;
      }
      .product-price {
        font-size: 20px;
        font-weight: 700;
        color: #636b6f;
      }
    }
  }
}

.filter-remakeBtn {
  background-color: #333333;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #fff;
  position: absolute;
  right: 5px;
  bottom: -30px;
  padding: 3px 10px;
  transition: 0.3s;
  &:hover {
    background-color: #636b6f;
    .filter-remakeBtnImg {
      transform: rotate(180deg);
    }
  }
  &:active {
    background-color: #333333;
  }
  .filter-remakeBtnImg {
    width: 25px;
    height: 20px;
    transition: 0.5s;
  }
}

.productCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #eeeeee;
  margin-bottom: 20px;
  font-weight: 100;
  .product-left .productCount-sort span {
    background-color: grey;
    color: #fff;
    padding: 1px 10px;
    border-radius: 8spx;
  }
  .productCount-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productCount-icon {
    margin-right: 15px;
    img {
      width: 15px;
      height: 15px;
      margin-right: 5px;
      cursor: pointer;
      &:nth-child(2) {
        width: 18px;
        height: 18px;
      }
    }
  }
  .productCount-sort {
    cursor: pointer;
  }
  .productCount-number {
    font-size: 18px;
    span:nth-child(3) {
      font-size: 25px;
    }
  }
}

.collapseBtn {
  color: #fff;
  background-color: #333333;
  border: none;
  outline: none;
  padding: 5px 25px;
  position: absolute;
  bottom: -32px;
  right: 10px;
  transition: 0.3s;
  &:hover {
    background-color: #636b6f;
  }
  &:active {
    background-color: #333333;
  }
  img {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    transition: 0.3s;
  }
}

.product-label img {
  width: 55px;
}

// contact

.contact-banner{
  background-image: url('/img/contact-banner.jpg');
  background-position: center left;
  background-size: cover;
  padding-bottom: 40%;
  position: relative;
  margin-top: 100px;
  min-height: 500px;
  .contact-banner-inner-text{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translateX(-65%) translateY(-50%);
    width: 500px;
    h1{
      font-weight: 700;
      color: #666666;
      font-size: 55px;
      margin-bottom: 30px;
    }
    p{
      color: #666666;
      opacity: 0.5;
      font-size: 20px;
    }
  }
} 
.information-content{
  margin: 100px 0;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
  .center-content{
    border: solid 1px #636b6f;
    border-radius: 5px;
    .contact-table{
      margin: 25px;
      tr{
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        margin: 20px 0;
      }
      h1{
        font-weight: 700;
      }
      .form-group-text-must{
        width: 6%;
        p{
          border: solid 1px #ED1C24;
          color: #ED1C24;
          border-radius: 5px;
          text-align: center;
          font-size: 16px;
        }
      }
      .form-group-text-td{
        width: 20%;
        p{
          font-size: 16px;
        }
      }
      .form-group-text-input{
        .form-group-input{
          label{
            margin-right: 30px;
            margin-left: 10px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.form-group{
  margin: 0 20px;
}
.privacyText a{
  color: #FBB03B;
  text-decoration: none;
  border-bottom: solid 1px #FBB03B;
  transition: 0.3s;
  &:hover{
    opacity: 0.7;
  }
}
#search{
  width: 100%;
}
#submitBtn{
  color: #fff; 
  background-color: #636b6f;
  padding: 15px 80px; 
  transition:0.3s; 
  border-radius: 5px;
  transition: 0.5s;
  &:hover{
    color: #636b6f; 
    border: solid 1px #636b6f;
    background-color: #fff;
  }
}


.contact-table .form-group-text-input{
  width: 70%;
}
.form-control{
  height: 33px;
  border-radius: 8px;
  outline: none;
}
.form-remind{
  color: #B3B3B3;
  font-size: 16px;
}

// blog

.blog-banner{
  background-image: url('/img/bg-blog.jpg');
  background-position: center;
  background-size: cover;
  padding-bottom: 38%;
  margin-top: 100px;
  margin-bottom: 50px;
}
.blog-filter{
  margin-bottom: 50px;
  .blog-filter-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    button{
      border: solid 1px #636b6f;
      border-radius: 12px;
      color: #636b6f;
      background-color: #fff;
      outline: none;
      transition: 0.3s;
      font-size: 16px;
      padding: 5px 35px;
      margin: 5px 20px;
      &:hover{
        color: #fff;
        background-color: #636b6f;
      }
      &:active{
        color: #fff;
        background-color: #3E3A39;
      }
    }
  }
}
.filterBtn-active{
  color: #fff !important;
  background-color: #636b6f !important;
}
.blog-post{
  margin: 0px 30px;
}
.blog-readMore{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  #readMore-btn{
    border: solid 1px #3E3A39;
    padding: 14px 120px;
    color: #3E3A39;
    font-size: 20px;
    font-weight: 600;
    outline: none;
    background-color: #fff;
    transition: 0.3s;
    border-radius: 8px;
    &:hover{
      background-color: #3E3A39;
      color: #fff;
    }
  }
}
.blog-post-open{
  display: none;
}
.blog-post{
  .blog-post-group{
    .blog-post-inner{
      padding: 40px;
      .blog-post-inner-img{
        background-position: center;
        background-size: cover;
        padding-bottom: 80%;
      }
      .blog-post-inner-text{
        margin-top: 35px;
        p:nth-child(1){
          font-size: 16px;
          font-weight: 100;
        }
        p:nth-child(2){
          font-size: 24px;
          font-weight: 700;
          color: #3E3A39;
        }
        p:nth-child(3){
          font-size: 16px;
          font-weight: 100;
          line-height: 45px;
        }
      }
    }
  }
}

//Information
#subPage-Information{
  .information-banner{
    background-image: url('/img/information-banner.jpg');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
    min-height: 500px;
    .information-banner-inner{
      .information-banner-inner-text{
        h1{
          color: #fff;
          font-size: 50px;
          font-weight: 500;
        }
      }
    }
  }
}

/*---------RWD---------*/
@media screen and (max-width: 1400px) {

  // sub-page-header-footer
  .sub-page-footer .sub-page-footer-copyright-inner {
    width: 1200px  !important;
  }
  .sub-page-header-inner {
    width: 1170px;
  }
  // product
  .filter-area, .container-productCount {
    width: 1020px;
  }
  .filter-product, .sub-page-header-inner {
    width: 1170px;
  }

  // contact
  .contact-banner{
    .contact-banner-inner-text{
      left: 75%;
      transform: translateX(-75%) translateY(-50%);
      width: 500px;
    }
  } 
}

@media screen and (max-width: 1200px) {

  // sub-page-header-footer
  .sub-page-footer .sub-page-footer-copyright-inner {
    width: 991px  !important;
  }
  .sub-page-header-inner {
    width: 950px;
    justify-content: center !important;
  }
  // product
  .filter-area, .container-productCount {
    width: 800px;
  }
  .filter-product, .sub-page-header-inner {
    width: 950px;
  }
  .filter-product {
    .col-md-6 .product-inner {
      display: block !important;
    }
    .product-inner {
      .product-img {
        width: 100% !important;
        padding-bottom: 90%;
      }
      .product-innertext {
        width: 100% !important;
        margin-left: 0 !important;
      }
    }
  }
  // contact
  .contact-banner{
    .contact-banner-inner-text{
      left: 80%;
      transform: translateX(-80%) translateY(-50%);
      width: 400px;
      h1{
        font-size: 45px;
        margin-bottom: 20px;
      }
      p{
        font-size: 16px;
      }
    }
  } 
}


@media screen and (max-width: 1024px){
  
  .klsBurger-switch{
    display: block
  }
  #header{
    .forwardNews{
      a{
      }
    }
    .header_top_area{
      height: 100%;
      border-bottom: solid 1px #EDEDED;
      .header_left{
        width: 100%;
        .logo_area{
          .logo{
            background-position: center center;
            .mark{
              .mark_text{
              }
              .mark_middle{
              }
              .mark_bottom{
              }
              img{
              }
            }
            .mark_time{
              img{
              }
            }
          }
        }
        .header_contact{
          .header_addr{
            width: 70%;
            .shop_list{
              display        : flex;
              justify-content: space-around;
              align-items    : center;
              width          : 100%;
              .shop{
                width          : calc(100% / 3);
                height         : 100%;
                display        : flex;
                justify-content: center;
                align-items    : center;
                border-left    : solid 1px #EDEDED;
                .shop_contact{
                  line-height: 15px;
                  p{
                    margin: 12px 0px;
                  }
                }   
              }
            }    
          }
          .community{
            width: 30%;
            color: $color-text-grey;
            .link{
              text-align: center;
              p{
                margin-bottom: 0;
              }
            }
            .facebook,.instagram{
              height         : 50%;
              display        : flex;
              justify-content: center;
              align-items    : center;
              text-decoration: none;
              color          : $color-text-grey;
              cursor         : pointer;
              img{
                width     : 30px;
                height    : 30px;
                transition: 0.5s ease;
              }
              p{
                transition: 0.5s ease;
              }
              &:hover{
                img{
                  transform: scale(1.5) translateY(15%);
                }
                p{
                  opacity: 0;
                }
              }
            }
            .facebook{
              border-bottom: solid 1px $color-grey-font-color;
            }
          }
        }
      }
      .header_right{
        display: none;
      }
    }
    .navbar{
      display: none;
    }
  }

  #choose{
    .container-fluid{
      margin: 0;
    }
  }

  #footer{
    
    .footer_logo{
      width: 70%;
      .logo_area{
        .footerCopyRight{
          display: block;
        }
      }
    }
    .footer_contact{
      width: 30%;
      .footer_addr{
        position       : relative;
        width          : 70%;
        border-right   : solid 1px $color-grey-font-color;
        display        : flex;
        justify-content: center;
        align-items    : center;
        padding        : 30px 0; 
        .shop_list{
          height: 100%;
          .shop{
            height: calc(100% / 3);
            .shop_contact,img{
              display       : inline-block;
              vertical-align: middle;
            }
            .shop_contact{
              line-height: 5px;
              p{
                margin: 12px 0px;
              }
            }   
          }
        } 
      }
      .community{
        width: 30%;
        .link{
          text-align: center;
        }
        .facebook,.instagram{
          height         : 50%;
          display        : flex;
          justify-content: center;
          align-items    : center;
          text-decoration: none;
          color          : $color-text-grey;
          cursor         : pointer;
          img{
            width     : 30px;
            height    : 30px;
            transition: 0.5s ease;
            }
          p{
            transition: 0.5s ease;
          }
          &:hover{
            img{
              transform: scale(1.5) translateY(15%);
            }
            p{
              opacity: 0;
            }
          }
        }
        .facebook{
          border-bottom: solid 1px $color-grey-font-color;
          img{
            width : 30px;
            height: 30px;
          }
        }
        .instagram{
          img{
            width : 30px;
            height: 30px;
          }
        }
      }
    }
    .footer_copy{
      display: none;
    }
  }
  .sub-page-header, .sub-nav-menu {
    display: none;
  }
  // contact
  .contact-banner{
    .contact-banner-inner-text{
      left: 80%;
      transform: translateX(-80%) translateY(-50%);
      width: 400px;
    }
  } 
}

@media screen and (max-width: 991px){
  #products{
    display: none;
  }
  #footer{
    .footer_contact{
      display : block;
      .footer_addr{
        width        : 100%;
        height       : 73%;
        padding      : 0; 
        margin-bottom: 6px;
        .shop_list{
          .shop{
            font-size: 12px;
          }
        } 
      }
      .community{
        display        : flex;
        justify-content: center;
        align-items    : center;
        border-top     : solid 1px rgba(0,0,0,0.2);
        height         : 25%;
        width          : 100%;
        .link{
          text-align: center;
        }
        .facebook,.instagram{
          width : 50%;
          height: 100%;
        }
        .facebook{
          border-bottom: none;
          border-right : solid 1px rgba(0,0,0,0.2);
          img{
            width : 25px;
            height: 25px;
          }
          .link{
            p{
              margin: 0;
            }
          }
        }
        .instagram{
          img{
            width : 25px;
            height: 25px;
          }
          .link{
            p{
              margin: 0;
            }
          }
        }
      }
    }
    .footer_copy{
      background-image   : url('/img/footer_right.jpg');
      background-position: center;
      background-size    : cover;
      width              : 37.5%;
      position           : relative;
      .footer_copy_textArea{
        position : absolute;
        top      : 50%;
        left     : 20%;
        transform: translateX(-20%) translateY(-50%);
        p{
          color: rgba(255,255,255,0.7);
          font-size: 12px;
        }
      }
      .footerCopyRight{
        position  : absolute;
        bottom    : 0;
        width     : 100%;
        font-size : 12px;
        color     : rgba(255,255,255,0.7);
        text-align: center;
  
      }
    }
  }
  .sub-page-header-inner, .sub-page-footer .sub-page-footer-copyright-inner {
    width: 750px !important;
  }
  .filter-area, .container-productCount {
    width: 600px;
  }
  .filter-product {
    width: 100%;
  }
   // contact
   .contact-banner{
    .contact-banner-inner-text{
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: rgba(255,255,255,0.3);
      padding: 5px 22px;
      width: 500px;
    }
  } 
}

@media screen and (max-width: 768px){
  .klsBurger-switch{
    top: 15px;
  }
  .forwardNews{
    display: none;
  }
  #header{
    .header_top_area{
      .header_left{
        .header_contact{
          font-size: $header-contact-font-size;
          display  : block;
          height   : 30%;
          .header_addr{
            width : 100%;
            height: 50%;
            .shop_list{
              .shop{
                border: solid 1px #EDEDED;
              }
            }    
          }
          .community{
            width          : 100%;
            height         : 50%;
            display        : flex;
            justify-content: center;
            align-items    : center;
            .link{
              text-align: center;
              p{
                margin-bottom: 0;
              }
            }
            .facebook,.instagram{
              width : 50%;
              height: 100%;
              border: solid 1px #EDEDED;
            }
          }
        }
      }
    }
  }
  .sub-page-footer{
    .sub-page-footer-copyright-inner{
      display: block !important;
      width: 100%  !important;
      text-align: center  !important;
      .needKnow{
        text-align: center !important;
      }
    }
  }
  .productCount {
    display: block !important;
    text-align: center;
  }
  .blog-post{
    .blog-post-inner{
      padding: 40px 0 !important;
    }
  }
  .filter-area, .container-productCount {
    width: 100%;
  }
  .blog-banner{
    padding-bottom: 50%;
  }
  #readMore-btn{
    padding: 14px 100px !important;
  }
   // contact
   .contact-banner{
    background-position:  10% center;
  } 
}

@media screen and (max-width: 600px){
  #footer{
    .footer_logo{
      width: 60%;
      .logo_area{
        .logo{
          a{
            img{
              
            }
            .mark_text{
              display: none;
            }
          }
        }
        .footerCopyRight{
          display: none;
        }
      }
    }
    .footer_contact{
      width: 40%;
    }
  }
  // contact
  .contact-banner{
    background-image: url('/img/contact-banner.jpg');
    background-position: 10% center;
    background-size: cover;
    padding-bottom: 40%;
    position: relative;
    margin-top: 80px;
    min-height: 500px;
    .contact-banner-inner-text{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: rgba(255,255,255,0.3);
      padding: 5px 22px;
      width: 400px;
      h1{
        font-weight: 700;
        color: #666666;
        font-size: 36px;
        margin-bottom: 20px;
      }
      p{
        color: #666666;
        opacity: 0.5;
        font-size: 12px;
      }
    }
  }
}
@media screen and (max-width: 460px){
  #footer{
    .footer_logo{
      width: 50%;
      .logo_area{
        .logo{
          a{
            img{
              
            }
            .mark_text{
              display: none;
            }
          }
        }
      }
    }
    .footer_contact{
      width: 50%;
    }
  }
  .contact-container{
    padding: 0;
    .information-content{
      padding: 15px 0;
      margin-right: 0px;
      margin-left: 0px;
      .center-content{
        padding-right: 0px;
        padding-left: 0px;
        .contact-table{
          margin: 5px;
          .form-group{
            margin: 0 5px;
          }
          .form-group-text-must{
            width: 11%;
          }
          .form-group-text-input{
            width: 55%;
          }
          .form-group-text-td{
            width: 25%;
          }
        }
      }
    }
  }
  
  .sub-page-footer-inner{
    display: block !important;
    text-align: center;
  }
}




