/node_modules
/public/hot
/public/storage
/public/files
/public/photos
/public/scripts
/public/images
/public/styles
/public/apple-touch-icon.png
/public/js/product-methods.js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/mix-manifest.json
