.mg-business {
    margin: 0 auto 30px auto;
    padding-top: 20px;
    .cart-list {
        width: 100%;
        // table-layout: fixed;

        thead {
            border-bottom: #eee 2px solid;
        }

        tr {
            th, td {
                padding: 8px;

                &.product-remove {
                    width: 30px;
                }
                &.product-thumbnail {
                    width: 30px;
                }

                a.remove {
                    display: block;
                    width: 24px;
                    height: 24px;
                    font-size: 15px !important;
                    line-height: 19px !important;
                    border-radius: 100%;
                    color: #ccc;
                    font-weight: bold;
                    text-align: center;
                    border: 2px solid #ccc;
                }

                ul#shipping_method {
                    margin: 0;
                    padding: 0;

                    li {
                        list-style: none;
                    }
                }
            }
        }

        input[type=number] {
            width: 50px;
            padding: 5px 10px;
            text-align: right;
        }
    }

    .check-btn {
        margin: 10px 0;
    }

    .coupon {
        margin: 10px 0;
    }

    .checkout-thumbnail {
        font-size: 20px;
        text-align: center;
        padding: 60px 0;
        .caret{
            transform: rotate(-90deg);
            margin: -5px 10px 0;
        }
        ul {
            padding: 0;
            margin: 0;
            
            li {
                list-style: none;
                display: inline;
                color: #636B6F;
                opacity: .4;
                padding: 20px;

                &.active {
                    opacity: 1;
                }

                img{
                    width: 40px;
                    height: 40px;
                    margin-top: -6px;
                }
            }
        }
    }

    ul.shipping-method-list {
        margin: 0;
        padding: 0;
        float: right;

        li {
            list-style: none;
        }
    }

    .payment-gateway {
        box-sizing: border-box;
        padding: 15px;
        border: #bbb solid 2px;
        margin-bottom: 20px;

        .table {
            box-sizing: border-box;
        }
    }

    .payment-methods {

        .form-group {

            input[type=radio] {
                margin:  6px 10px;
            }
            label {
                margin: 0;
                padding: 10px;
                border: #bbb 2px solid;
                width: 100%;
            }
            p {
                margin: 10px 10px 10px 20px;
            }
        }
    }

    .shipping-form {
        // margin-top: 40px;
    }

    .cvs-btn {
        cursor: pointer;
        display: inline-block;
        margin: 10px 10px 10px 0;
        opacity: 0.8;
        transition: all .2s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}

#cart-page{
    .cart_list{
        .hide{
            visibility: hidden;
        }
        ul{
            padding: 0;
            li{
                @include flex-mix('center','center');
                padding: 40px 15px;
                list-style: none;
                border-bottom: solid 1px rgba(0,0,0,0.1);
                p{
                    text-align: center;
                    margin-bottom: 0;
                    font-size: 16px;
                    img{
                        max-width: 80px;
                    }
                }
                p:nth-child(1){
                    width: 30%;
                    span{
                        float: left;
                        margin-left: 5px;
                        margin-top: 15px;
                    }
                }
                p:nth-child(2),p:nth-child(3),p:nth-child(4),p:nth-child(5){
                    width: 16%;
                    margin-top: 15px;
                }
                p:nth-child(6){
                    width: 5%;
                    margin-top: 10px;
                    img{
                        @include size-setting(70%,auto);
                        cursor: pointer;
                        transition: .3s;
                        &:hover{
                            filter: drop-shadow(1px 1px 1px #333);
                        }
                    }
                }
            }
            .cart_list_title,.cart_list_total{
                background-color: $color-blue;
                color: $color-white;
                padding: 15px;
                p:nth-child(2),p:nth-child(3),p:nth-child(4),p:nth-child(5),p:nth-child(6){
                    margin-top: 0;
                }
            }
            .cart_list_title{
                
            }
            li.cart_list_total{
                display: block;
                p{
                    width: 100%;
                    text-align: right;
                }
                p:nth-child(2){
                    color: $font-color-focus;
                    font-size: 24px;
                }
                span{
                    float: none !important;
                    margin-left: 0 !important;
                    margin-top: 0 !important;
                }
            }
        }
    }
}

.nextBtn{
    text-align: center;
    margin: 70px 0 50px;
    button{
        border: solid 1px transparent;
        background-color: $color-blue;
        color: $color-white;
        padding: 15px 70px;
        transition: .5s;
        font-size: 16px;
        &:hover{
            background-color: $font-color-focus;
        }
    }
}

.cart-banner-inner-text{
    color: #fff;
    h1{
        font-size: 50px;
        font-weight: 900;
    }
    p{
        font-size: 20px;
        font-weight: 900;
    }
}

.cart_info{
    h3{
        font-weight: 900;
    }
    table{
        width: 100%;
        font-size: 16px;
        tr{
            
            td{
                padding: 15px 0;
                select, input, textarea{
                    border: solid 1px rgba(0,0,0,0.1);
                }
                select{
                    padding: 5px 10px;
                    margin-right: 15px;
                    cursor: pointer;
                }
                input{
                    @include size-setting(33%,auto);
                    margin-right: 30px;
                    padding: 5px;
                }
                input.tw-address{
                    width: 64%;
                }
                input[type="radio"]{
                    @include size-setting(auto,auto);
                    border: none;
                    margin-right: 5px;
                }
                label{
                    margin-right: 20px;
                }
                textarea{
                    @include size-setting(90%,150px);
                    max-width: 90%;
                    overflow: auto;
                }
                span{
                    color: rgba(0,0,0,.3);
                }
            }
            .cart_info_text{
                padding-top: 20px;
                vertical-align: text-top;
            }
            .cart_info_title{
                width: 15%;
            }
        }
    }
}

.transferInfo{
    text-align: center;
    margin-bottom: 50px;
    font-size: 16px;
}

.remind{
    width: 86%;
    margin: 0 auto;
    font-size: 16px;
    a{
        color: $font-color-focus;
        border-bottom: solid 1px $font-color-focus;
        text-decoration: none;
    }
    p:nth-child(3){
        a{
            border: none;
        }
    }
}