body {
    font-family: Microsoft JhengHei;
}

table.field-table {
    width: 100%;
    margin-bottom: 5px;
    /*margin: 0 auto;*/

    tr {
        td, th {
            padding: 5px;
            vertical-align: middle;
        }
    }
}

table.product-detail-table {
    tr {
        td, th {
            padding: 8px;
            vertical-align: top;
            border-bottom: 1px #ccc solid;
        }
    }

    tbody {
        tr {
            td, th {
                border-bottom: none;
            }
        }
    }
}

.clearfix {
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}

.bar-chart {

    .bar {
        background: #0887A7;
        color: white;
        padding: 2px 5px;
    }
}

#admin-sidebar {

    .panel-group {

        .panel {

            .panel-collapse {

                .panel-body {
                    padding: 0;

                    ul {
                		padding: 0;
                		margin: 0;

                        li {
                    		list-style: none;

                            a {
                                padding: 10px;

                                &:hover {
                                    color: #FFF;
                                    background: #35A6E5;
                                    border-radius: 0;
                                }
                            }
                    	}
                	}
                }
            }
        }
    }
}

.ch-tab {
    li {
        a {
            padding: 5px 10px;
        }
    }
}
.ch-tab-content {
    .tab-pane {
        padding: 10px 5px;
    }
}
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.pie-chart {
    text-align: center;
    position: relative;

    svg {
        transform: scale(0.8);
    }
}

.arc path {
  stroke: #fff;
}
.ch-left-panel-group {

    .ch-panel {
        margin-top: 0;

        .panel-heading {
            padding: 0;

            .panel-title {
                font-size: 14px;
                width: 100%;
                padding: 10px;
                text-align: center;
                display: inline-block;
                text-decoration: none;
            }
        }
    }
}
