//-------------------------------------------------bootstrap-------------------------------------------------
// Body
$body-bg                 : #fff;

// Borders
$laravel-border-color    : darken($body-bg, 10%);
$list-group-border       : $laravel-border-color;
$navbar-default-border   : $laravel-border-color;
$panel-default-border    : $laravel-border-color;
$panel-inner-border      : $laravel-border-color;

// Brands
$brand-primary           : #66220f;
$brand-info              : #8eb4cb;
$brand-success           : #2ab27b;
$brand-warning           : #cbb956;
$brand-danger            : #bf5329;

// Typography
$icon-font-path          : "~bootstrap-sass/assets/fonts/bootstrap/";
// $font-family-sans-serif : "Raleway", sans-serif;
$font-size-base          : 14px;
$line-height-base        : 1.6;
$text-color              : #636b6f;

// Navbar
$navbar-default-bg       : #fff;

// Buttons
$btn-default-color       : $text-color;

// Inputs
$input-border            : lighten($text-color, 40%);
$input-border-focus      : lighten($brand-primary, 25%);
$input-color-placeholder : lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//-------------------------------------------------bootstrap-------------------------------------------------

//colors
$color-banner-start   : #F0E0FF;
$color-banner-end     : #A78FFF;
$color-grey           : #3E3A39;
$color-grey-mask      : #888888;
$color-grey-light     : #F6F6F6;
$color-text-grey      : #9FA0A0;
$color-grey-font-color: #EDEDED;
$color-black-mask     : rgba(0,0,0,0.4);
$color-black          : #3E3A39;
$color-white          : #FFFFFF;
$color-mask-banner    : #C07E17;
$color-mask-logo      : #7A7A7A;
$color-coffee         : #7A6A56;
$font-color-focus     : #F8B62D;
$color-product        : #3E3A39;

//-------------------------------------------------Font-size-------------------------------------------------

//header
$header-contact-font-size    : 12px;
$title-bottom-font-size      : 16px;
$title-bottom-input-font-size: 12px;

//count

$font-size-number            : 55px;
$font-size-span              : 18px;
$font-size-footer-title      : 28px;
