.blog-list-section {
    // padding-bottom: 30px;
    // margin-bottom: 20px;
    // border-bottom: #eee solid thin;

    hr {
        margin: 30px 0;
    }

    .blog-feature-image {
        img {
            width: 100%;
        }
    }
    .blog-content {
        a {
            font-size: 18px;
        }
    }
}

.blog-container {
    margin-top: 30px;

    .blog-featureImage {
        img {
            width: 100%;
        }
    }

    .blog-content {

    }

    ul.blog-list {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            //margin-bottom: 5px;

            a {
                width: 100%;
                display: inline-block;
                padding: 8px 10px;
                color: #66220f;
                font-size: 16px;
                text-decoration: none;
                transition: all .2s ease-in-out;
                overflow : hidden;
                text-overflow : ellipsis;
                white-space : nowrap;
                //border-left: #ccc 2px solid;
                //margin-bottom: 5px;

                &:hover {
                    background: #66220f;
                    color: white;
                }
            }
        }
    }
}
