.mg-icon {
    background-image: url('/img/icon/mg-icon.png');
    background-repeat: no-repeat;
    display: block;
}

.mg-icon-cvs-7-11 {
    width: 35px;
    height: 35px;
    background-position: 0 0;
}

.mg-icon-cvs-familymart {
    width: 35px;
    height: 35px;
    background-position: -35px 0;
}

.mg-icon-cvs-hilife {
    width: 35px;
    height: 35px;
    background-position: 0 -35px;
}
