body {
  padding-top: 50px;
  padding-bottom: 40px;
  margin-left: 200px;
  -webkit-transition: margin 500ms ease;
  -moz-transition: margin 500ms ease;
  -ms-transition: margin 500ms ease;
  -o-transition: margin 500ms ease;
  transition: margin 500ms ease;
}

.navbar-inverse {
  background-color: #2A3F54;
}

.navbar-layoutit {
  .btn-donate {
    padding: 0 0 0 10px;
    form {
      margin: 0;
    }
  }
  .navbar-brand {
    height: 30px;
  }
  #menu-layoutit {
    float: right;
    margin: 4px 8px 0 0;
  }
  min-height: 32px;
  padding: 5px;
  .navbar-brand {
    width: 340px;
    color: #fff;
    padding: 0;
    margin: 0 5px;
    line-height: 30px;
    img {
      float: left;
      margin: 2px 10px 0 0;
    }
    .label {
      position: relative;
      left: 10px;
      top: -3px;
      font-weight: normal;
      font-size: 9px;
      background: #666;
      -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
      box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    }
  }
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 979px) {
  .navbar-fixed-top {
    position: fixed;
  }
}

.edit .demo {
  margin-right: 20px;
  margin-left: 0px;
  margin-top: 10px;
  padding: 30px 15px 15px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  position: relative;
  word-wrap: break-word;
  &:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Container";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
  }
}

.container {
  width: auto;
  margin: 0 0px;
}

.sidebar-nav {
  position: fixed;
  width: 180px;
  left: 0px;
  bottom: 0;
  top: 32px;
  background: #5078A0;
  padding: 10px;
  z-index: 10;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  .nav-header {
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: bold;
    span.label {
      font-size: 10px;
      /*padding-bottom:0;*/
      position: relative;
      top: -1px;
    }
    i.glyphicon-question-sign {
      color: #000;
      text-shadow: 0 1px 0 #ddd;
    }
    .popover {
      color: #999;
      text-shadow: none;
    }
  }
}

.popover-info {
  position: relative;
  .popover {
    display: none;
    top: -12.5px;
    left: 15px;
  }
  &:hover .popover {
    display: block;
    opacity: 1;
    width: 400px;
    .arrow {
      top: 23px;
    }
  }
}

.sidebar-nav .accordion-group {
  border: none;
}

.boxes {}

.sidebar-nav {
  li {
    line-height: 28px;
    margin-bottom: 3px;
    .lyrow {
      margin-bottom: 5px;
    }
  }
  .box {
    line-height: 26px;
    width: 160px;
    height: 26px;
  }
  .preview {
    display: block;
    color: #eee;
    font-size: 12px;
    line-height: 26px;
    input {
      width: 105px;
      padding: 0 10px;
      background: #ddd;
      font-size: 10px;
      color: #333;
      line-height: 20px;
      height: 20px;
      position: relative;
      top: -1px;
    }
  }
  .view, .remove, .configuration, .boxes {
    display: none;
  }
}

.demo {
  .preview {
    display: none;
  }
  .box .view {
    display: block;
    padding-top: 30px;
  }
}

.ui-draggable-dragging .view {
  display: block;
}

/*.demo .ui-sortable-placeholder { outline: 5px dotted #ddd; visibility: visible!important; border-radius: 4px; }*/

.ui-sortable-placeholder {
  outline: 1px dashed #ddd;
  visibility: visible !important;
  border-radius: 4px;
}

.edit .drag {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  i {
    color: #000;
    text-shadow: 0 1px 0 #ddd;
  }
}

.box, .lyrow {
  position: relative;
}

.edit .demo {
  .lyrow .drag {
    top: 5px;
    right: 80px;
    z-index: 10;
  }
  .column {
    .box {
      .drag {
        top: 5px;
      }
      .configuration {
        position: absolute;
        top: 3px;
        right: 140px;
        white-space: nowrap;
        &:hover {
          z-index: 1001;
        }
      }
    }
    .navbar-fixed-top {
      top: 33px;
      left: 180px;
    }
  }
}

.demo .column .navbar-fixed-top {
  top: 33px;
}

.edit .demo {
  .column .navbar-fixed-bottom {
    left: 180px;
  }
  .remove {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
  }
}

.demo {
  .configuration {
    filter: alpha(opacity = 0);
    opacity: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .drag, .remove {
    filter: alpha(opacity = 20);
    opacity: 0.2;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .lyrow:hover > {
    .drag, .configuration, .remove {
      filter: alpha(opacity = 100);
      opacity: 1;
    }
  }
  .box:hover {
    .drag, .configuration, .remove {
      filter: alpha(opacity = 100);
      opacity: 1;
    }
  }
}

.edit .demo .row:before {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Row";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  line-height: 2;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}

.demo .row {
  background-color: #F5F5F5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  position: relative;
  padding: 25px  14px 0;
}

.edit .column:after {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Column";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}

.column {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  padding: 39px 19px 24px;
  position: relative;
}

/* preview */

body.devpreview {
  margin-left: 0px;
}

.devpreview {
  .sidebar-nav {
    left: -200px;
    -webkit-transition: all 0ms ease;
    -moz-transition: all 0ms ease;
    -ms-transition: all 0ms ease;
    -o-transition: all 0ms ease;
    transition: all 0ms ease;
  }
  .drag, .configuration, .remove {
    display: none !important;
  }
}

.sourcepreview {
  .column, .row, .demo .box {
    margin: 0px 0;
    padding: 0px;
    background: none;
    border: none;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  }
}

.devpreview .demo {
  .box, .row {
    padding-top: 0;
    background: none;
  }
  .column {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

#download-layout {
  display: none;
}

#feedbackModal textarea, #downloadModal textarea {
  width: 100%;
  height: 280px;
  resize: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#feedbackModal {
  input {
    width: 515px;
    &.modal-error-field {
      border: 1px solid red;
    }
  }
  textarea.modal-error-field {
    border: 1px solid red;
  }
}

a.language-selected {
  font-style: italic;
  font-weight: bold;
}

.modal-body {
  padding-bottom: 0;
}

.modal-footer {
  margin-top: 0;
}