.slider-section {
    margin-top: 20px;
    padding: 0;
}

.index-product-category {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px 10px;

    .product-price {
        font-size: 18px;
        font-weight: bold;
    }
    .product-image {
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            transition: all .3s;

            &:hover {
                opacity: 0.7;
            }
        }

        .add-to-cart {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            opacity: 0;
            background-color: rgba(0,0,0,0.5);
            color: white;
            font-weight: bold;
            text-align: center;
            font-size: 16px;
            transition: all .2s ease-in-out;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                font-size: 20px;
            }
        }

        &:hover {

            img {
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }

            .add-to-cart {
                opacity: 1;
            }

        }
    }

    .product-title {
        h4 {
            font-weight: bold;
        }
        h3 {
            font-size: 18px;
            font-weight: bold;
        }
        a {
            font-weight: bold;
            text-decoration: none;
            color: #666;
        }
    }

    .product-link {

        a.product-link-btn {

        }
    }
}
